<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.el_taquacharity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/el_taqua"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Activities.EventDataActivity" />
        <activity
            android:name=".ui.Activities.EventsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.Activities.AllFamiliesActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.Activities.ScanQrCodeActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.Activities.AddPeopleActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>